<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello DimensionOnline!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <h1>Grid</h1>
    <a href="<%= @zoom_in %>">Zoom In</a>
    |
    <a href="<%= @zoom_out %>">Zoom Out</a>
    |
    <a href="<%= @pan_left %>">Pan Left</a>
    |
    <a href="<%= @pan_right %>">Pan Right</a>
    |
    <a href="<%= @pan_up %>">Pan Up</a>
    |
    <a href="<%= @pan_down %>">Pan Down</a>
    <div class="grid"><%= @printed_tiles %></div>
  </body>
</html>
